body{
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 14%, rgba(9,121,113,1) 77%, rgba(255,180,0,1) 100%);;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    
}
.calculator{
    background-color: #FBBD41;
    border: 6px solid #ff9900;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    padding: 5px;
}

.btn{
    width: 25%;
    border: 0;
    height: 85px;
    padding: 2px;
    margin: 2px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 30px;
   
}

.btn:hover{
    filter: brightness(0.8);
}

.buttons{
    display: flex;
    align-items:stretch;
    flex-direction: column;
    align-self: stretch;
    justify-content: space-evenly;
}

.wrapper{
    display: flex;
    justify-content: space-evenly;
}

#clear,#delete{  
    flex-grow: 3;
    flex-basis: 175px;
    height: 50px;
}

.display{
    background-color: black;
    color: white;
    flex-grow: 2;
    width: 375px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:flex-end;
    padding-right: 20px;
    margin: 5px;
    font-family: vt323;
}

.currentOp{
    display: flex;
    font-size: 40px;
    justify-content: center;
    height: 40px;
    margin-bottom: 5px;
}

.result{
    display: flex;
    font-size: 30px;
    height: 40px;
    align-items: center;
    justify-content: center;
}
  .btn{
    margin: 3px;
    background: #407efb;
    border: none;
    border-bottom: 6px solid #001fff;
    padding: 16px;
    border-radius: 4px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    margin-top: 0px;
    transition: all 0.1s;
    outline: none;
  }
  .btn:hover{
    transform: translateY(0.05rem);
    border-bottom-width: 3px;
    cursor: pointer;
  }
  .btn:active{
    transform: translateY(0.1rem);
    border-bottom-width: 0px;
  }
  